<!DOCTYPE html>
<html>
<head>
  <title>MooMoove.sg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= stylesheet_link_tag	 '/style' , media: "all"%>
  	<%= stylesheet_link_tag	 '/css/bootstrap' , media: "all"%>
	<%= stylesheet_link_tag	 '/css/style' , media: "all"%>
	<%= stylesheet_link_tag	 '/css/dark' , media: "all"%>
	<%= stylesheet_link_tag	 '/css/font-icons' , media: "all"%>
	<%= stylesheet_link_tag	 '/css/animate' , media: "all"%>
	<%= stylesheet_link_tag	 '/css/magnific-popup' , media: "all"%>
	<%= stylesheet_link_tag	 '/css/responsive' , media: "all"%>

  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

</body>
</html>
